body{
    background-image: url("pic4.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
   text-align: center;
   position: relative;
   float: left;
   width:100%;
   top: 200px;
   font-style: oblique;
   font-size: x-large;
   color: rgb(7, 15, 254);
}
button{
    padding:10px;
    width:15%;
    background-color: aliceblue;

}